.card-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verification-card {
  width: 800px;
  height: 500px;
  background: #121212;
  margin: 2em auto;
  text-align: center;
}

.verification-card-title {
  font-weight: normal;
  font-size: 34px;
  line-height: 36px;
  color: #FFF;
  margin-top: 75px !important;
  margin-bottom: 50px;

}

.verification-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 100% */
  letter-spacing: 0.18px;
  color: white;
}

.verification-input {
    margin-top: 50px;
    width: 542px;
    height: 70px;
}

mat-label {
  color: #80868B;
}

mat-icon {
    color: #80868B;
}

input {
  color: white;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background: #2F2F2F;
  border-radius:10px;
}

::ng-deep .mat-focused mat-label {
  /*change color of label*/
  color: #F48FB2 !important;
}

::ng-deep .mat-form-field-underline {
    background-color: #80868B !important;
}

::ng-deep .mat-focused .mat-form-field-underline {
  /*change color of underline*/
  background-color: #F48FB2 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #F48FB2 !important;
}

::ng-deep.mat-form-field-element {
  /*change color of underline when focused*/
  background-color: #F48FB2 !important;
}

::ng-deep.mat-input-element {
  caret-color: #F48FB2 !important;
  text-decoration-color: #F48FB2 !important;
}

.verification-button {
  background: #F48FB2;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  padding: 15px 35px;
}
