<div class="card-container">
  <mat-card class="registration-card mat-elevation-z16">
    <mat-card-title class="registration-card-title">Create Account</mat-card-title>
    <mat-card-content>
      <form [formGroup]="registrationForm">
        <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile>
            <mat-form-field class="registration-input">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="first_name" required>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="registration-input">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="last_name" required>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="registration-input">
              <mat-label>Email Address</mat-label>
              <input matInput formControlName="email" #userEmail required>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="registration-input">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phone">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="registration-input">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" #userPassword required>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="registration-input">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" formControlName="confirmPassword" required>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="registration-button"
      (click)="signUp()">Sign up</button>
    </mat-card-actions>
    <mat-card-footer>
      <div class="reg-login-label">
        <span>Already have an account? <a class="redirect" routerLink="/login">Log In</a></span>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
