<div class="card-container">
  <mat-card class="login-card mat-elevation-z16">
    <mat-card-title class="login-card-title">Welcome</mat-card-title>
    <mat-card-content>
      <form [formGroup]="signinForm">
        <p>
          <mat-form-field class="login-input" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="email" #userEmail required>
            <mat-hint>Email</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="login-input" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" #userPassword [type]="hide ? 'password' : 'text'"required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </p>
      </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button class="login-button" (click)="onSignIn()">Login</button>
    </mat-card-actions>
    <mat-card-footer>
        <p>{{message}}</p>
        <div class="login-reg-label">
          <span>Don't have an account?<a class="redirect" routerLink="/registration">Sign Up</a></span>
        </div>
    </mat-card-footer>
  </mat-card>
</div>
