<mat-toolbar class="app-bar mat-elevation-z8">
  <mat-icon class="brand">account_circle</mat-icon>
  <span class="brand-fab-gap"></span>
  <button class="extended-fab-button" mat-fab (click)="createContact()">
    <mat-icon class="add-icon">add</mat-icon>
    <span class="extended-fab-button__text">Create</span>
  </button>
  <span class="fab-search-gap"></span>
  <div class="container">
    <mat-form-field class="search-bar" appearance="fill">
      <input matInput placeholder="Search">
      <mat-icon class="search-icon" matPrefix>search</mat-icon>
    </mat-form-field>
  </div>
  <button class="sign-out-button mat-elevation-z8" mat-stroked-button>
    <span class="sign-out-label">sign out</span>
  </button>
</mat-toolbar>
<!-- authService.SignOut() -->

<div class="container">

  <mat-table [dataSource]="dataSource">
    <div class="full-contact">
      <ng-container matColumnDef="dp">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
          <mat-icon>account_circle</mat-icon>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="uid">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">{{contact.id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let contact">{{contact.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let contact">{{contact.email}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
        <mat-cell *matCellDef="let contact">{{contact.number}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let contact">
          <button mat-icon-button (click)="disablePop()"[matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteContact()">
              <span>Delete</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
    </div>
    <mat-header-row class="mat-elevation-z16" *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row (click)="contactClick(row)" *matRowDef="let row; columns: tableColumns"></mat-row>
  </mat-table>

</div>
