<mat-toolbar class="app-bar mat-elevation-z8">
  <mat-icon class="brand">account_circle</mat-icon>
  <span class="brand-fab-gap"></span>
  <button class="extended-fab-button" mat-fab (click)="openDialog()">
    <mat-icon class="add-icon">add</mat-icon>
    <span class="extended-fab-button__text">Create</span>
  </button>
  <span class="fab-search-gap"></span>
  <div class="container">
    <mat-form-field class="search-bar" appearance="fill">
      <input matInput placeholder="Search">
      <mat-icon class="search-icon" matPrefix>search</mat-icon>
    </mat-form-field>
  </div>
  <button class="sign-out-button mat-elevation-z8" mat-stroked-button>
    <span class="sign-out-label" (click)="contactClick()">sign out</span>
  </button>
</mat-toolbar>
<!-- authService.SignOut() -->

<div class="container">

  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let contact">{{contact.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let contact">{{contact.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
      <mat-cell *matCellDef="let contact">{{contact.phone}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
  </mat-table>

</div>
