.mat-card-container {
  height: 100%;
  width: 100;
}

::ng-deep .mat-dialog-container {
  background-color: #292929;
}

hr {
  border-color: #595959;
  margin-bottom: 20px;
}

.mat-dialog-title {
  color: white;
  text-transform: capitalize;
}

.name {
  display: inline;
}

.contact-icon {
    font-size: 36px;
    margin-left: 20px;
    margin-top: 7px;
    color: #80868B;
}

mat-label {
  color: #80868B;
}

input {
  color: white;
}

.contact-input {
    margin: 0px 50px;
}

.action-button {
    color: #F48FB2;
    width: 75px;
    height: 40px;
}
