.mat-card-container {
  height: 100%;
  width: 100;
}

::ng-deep .mat-dialog-container {
  background-color: #292929;
}

hr {
  border-color: #595959;
  margin-bottom: 20px;
}

.mat-dialog-title {
  color: white;
  text-transform: capitalize;
}

.name {
  display: inline;
}

.circle {
  height: 65px;
  width: 65px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  display: table-cell;
  vertical-align: middle;
}
.person_add {
    margin-left: 13px;
    font-size: 36px;
}

.name-input {
    margin: 0px 30px;
}

.extra-icon {
    font-size: 36px;
    margin-left: 20px;
    margin-top: 7px;
    color: #80868B;
}

mat-label {
  color: #80868B;
}

input {
  color: white;
}

.extra-input {
    margin: 0px 50px;
}

.action-button {
    color: #F48FB2;
    width: 75px;
    height: 40px;
}
